# Created by https://www.gitignore.io

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

smieci

.DS_Store
*.css.map
/bivrost-icon-*.png
