# Created by https://www.gitignore.io

### NetBeans ###
nbproject/private/
nbbuild/
build/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

.DS_Store
thumbs.db
/node_modules
compiler.jar
.sass-cache

bivrost-icon-*png

output

### IDE STUFFS
.idea
.vscode
.history
