$common: "style-common";


@import "compass/utilities/sprites";

@include all-bivrost-icon-sprites;

$transition-time: 0.5s;

.bivrost-player,
bivrost-player {
	
	display: block;
	overflow: hidden;
	position: relative;
		
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	
	&.grabbing {
		cursor: -webkit-grabbing;
		cursor: -moz-grabbing;
		cursor: grabbing;
	}
		
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 12px;
	
	canvas {
		position:absolute;
		top:0; left:0; right:0; bottom:0;
	}
	
	&.no-ui .bivrost-ui,
	&.no-ui .bivrost-bigplay,
	&.no-ui .bivrost-logo,
	&.no-ui .bivrost-loading {
		display: none !important; 
	}
	
	.bivrost-loading {

		position: absolute;
		display: block;
		width: 50%;
		height: 50%;
		top: 0;
		left: 0;

		opacity: 1;
		-webkit-transition: opacity .5s; 
		transition: opacity .5s; 
		
		@keyframes bivrost-logo-anim {
			100% { background-position-y: image-height("#{$common}/bivrost-loading-anim.png")*-1; }
		}

		div {
			$frames: 32;
			position: absolute;
			display: block;
			background: inline-image("#{$common}/bivrost-loading-anim.png");
			width: image-width("#{$common}/bivrost-loading-anim.png");
			height: image-height("#{$common}/bivrost-loading-anim.png") / $frames;
			bottom: image-width("#{$common}/bivrost-loading-anim.png")/-2;
			right: image-width("#{$common}/bivrost-loading-anim.png")/-2;
			animation: bivrost-logo-anim 1s steps($frames) infinite;
		}
		
		&.hidden { display: none; opacity: 0; }
	}
	
	
	.bivrost-ui {
		position: absolute;
		left: 0;
		right: 0;
		height: $ui-height;
		background: $ui-background;
		cursor: default;

		bottom: 0;
		display: block;
		
		-webkit-transition: bottom $transition-time;
		transition: bottom $transition-time;
	
		input[type="range"]::-webkit-slider-thumb { 
			-webkit-transition: opacity 1s, background-size 1s; 
			transition: opacity 1s, background-size 1s; 
		}
		input[type="range"]::-moz-range-thumb { transition: opacity 1s, background-size 1s; }
		input[type="range"]::-ms-thumb { transition: opacity 1s, background-size 1s; }
		
		.bivrost-aligned {
			position: absolute;
			display: block;
			top: 0px;
			bottom: 0px;
		}
		.bivrost-left-aligned { left: 0px; }
		.bivrost-right-aligned { right: $button-margin; }
		
		
		.bivrost-button,
		.bivrost-status {
			position: relative;
			$h: bivrost-icon-sprite-height(back);
			$w: bivrost-icon-sprite-width(back);
			height: $h;
			display: inline-block;
			color: $text-color;
			
			margin: ($ui-height - $h)/2 0 0 $button-margin;
			
			line-height: $h;
			vertical-align: middle;
		}
		
		.bivrost-button {
			cursor: pointer;
			$w: bivrost-icon-sprite-width(back);
			width: $w;
		}
		
		
		.bivrost-volume {
			height: 88+22px;
			width: 36px;
			background: inline-image("#{$skin}/bivrost-volume-background.png") top left no-repeat;
			position: absolute;
			left: 0px;
			bottom: 36px;
			
			.bivrost-volume-tick {
				width: 36px;
				height: 7px;
				cursor: pointer;
				
				&.bivrost-volume-tick-on { background: inline-image("#{$skin}/bivrost-volume-on.png") top left no-repeat; }
				&.bivrost-volume-tick-off { background: inline-image("#{$skin}/bivrost-volume-off.png") top left no-repeat; }
				
				&:first-child { margin-top: 17px; }
			}
			
			
			-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
			-ms-transition: -ms-transform 0.5s, opacity 0.5s;
			transition: transform 0.5s, opacity 0.5s;
			
			-ms-transform-origin: 50% 130%;
			-webkit-transform-origin: 50% 130%;
			transform-origin: 50% 130%;
		
			&.hidden { transform: scale(0); opacity: 0; }
		}
		
		
		.bivrost-range-background {			
			position: absolute;
			height: $range-size;
			background: inline-image("#{$skin}/bivrost-range-background.png") repeat-x;
			top: -$range-size / 2;
			left: 0px;
			right: 0px;
			
			.bivrost-range-foreground {
				top: 0px;
				left: 0px;
				bottom: 0px;
				height: 100%;
				width: 0%;
				background: inline-image("#{$skin}/bivrost-range-foreground.png") repeat-x;
			}
		}
		

		input[type="range"] {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			-webkit-appearance: none;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			width: 100%;
			height: $range-size;
			margin: 0;
			border: none;
			border-radius: 0px;
			background: transparent;
			/*box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;*/
			/*-webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;*/
			outline: none; /* no focus outline */
			
			&::-moz-range-track {
				border: inherit;
				background: transparent;
			}
			
			&::-ms-track {
				border: inherit;
				color: transparent; /* don't drawn vertical reference line */
				background: transparent;
			}
			
			&::-ms-fill-lower,
			&::-ms-fill-upper {
				background: transparent;
			}
			
			&::-ms-tooltip  {
				display: none;
			}
			
		}

		/* thumb */
		input[type="range"]::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: $range-size;
			height: $range-size;
			border: none;
			background: inline-image("#{$skin}/bivrost-range-thumb.png") no-repeat center center;
		}
		input[type="range"]::-moz-range-thumb {
			width: $range-size;
			height: $range-size;
			border: none;
			background: inline-image("#{$skin}/bivrost-range-thumb.png") no-repeat center center;
		}

		input[type="range"]::-ms-thumb {
			width: $range-size;
			height: $range-size;
			border: 0;
			background: inline-image("#{$skin}/bivrost-range-thumb.png") no-repeat center center;
			/*background: red;*/
		}

	}

	
	&.hide-ui .bivrost-ui {
		bottom: - $ui-height;

		input[type="range"]::-webkit-slider-thumb { opacity: 0; background-size: 0 0; }
		input[type="range"]::-moz-range-thumb { opacity: 0; background-size: 0 0;  }
		input[type="range"]::-ms-thumb { opacity: 0; background-size: 0 0; }
	}
	
	
	.bivrost-logo {
		position: absolute;
		top: 8px;
		right: 8px;
		width: image-width("#{$common}/bivrost-logo.png");
		height: image-height("#{$common}/bivrost-logo.png");
		background: inline-image("#{$common}/bivrost-logo.png") center center no-repeat;
		transition: transform $transition-time, filter $transition-time, opacity $transition-time;
		-webkit-transition: -webkit-transform $transition-time, -webkit-filter $transition-time, opacity $transition-time;
		-webkit-transform-origin: 100% 0%;
		-webkit-filter: grayscale(0);
		transform: scale(0.85);
		transform-origin: 100% 0%;
		filter: grayscale(0);
		opacity: 1;
	}
	&.hide-ui .bivrost-logo {
		-webkit-transform: scale(0.75);
		-webkit-filter: grayscale(1);
		transform: scale(0.75);
		filter: grayscale(1);
		opacity: 0.75;
	}
	
	
	.bivrost-bigplay {
		background: inline-image("#{$common}/play-big.png") no-repeat center center;
		cursor: pointer;
		position: absolute;
		width: image-width("#{$common}/play-big.png");
		height: image-height("#{$common}/play-big.png");
		left: 50%;
		top: 50%;
		margin-left: image-width("#{$common}/play-big.png")/-2;
		margin-top: image-height("#{$common}/play-big.png")/-2;
		
		&.hidden {
			display: none;
		}
	}

	
	
	&:-webkit-full-screen {
		position: fixed;
		width: 100% !important;
		height: 100% !important;
		top: 0;
		background: none;
	}
	&:-ms-fullscreen {
		position: fixed;
		width: 100% !important;
		height: 100% !important;
		top: 0;
		background: none;
	}
}


