$bivrost-icon-spacing: 20px;
$relative-assets: true;
@import "compass/utilities/sprites";
@import "bivrost-icon/*.png";
@include all-bivrost-icon-sprites;


$ui-height: 68px;

.bivrost-container,
bivrost-container {
	display: block;

	position: relative;
	
	canvas {
		position:absolute;
		top:0; left:0; right:0; bottom:0;
	}
	
	.ui {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: $ui-height;
		background: rgba(0,0,0, 0.5);
		
		.bivrost-button {
			cursor: pointer;
			position: relative;
			$h: bivrost-icon-sprite-height(back);
			$w: bivrost-icon-sprite-width(back);
			width: $w;
			height: $h;
			display: inline-block;
			
			margin: ($ui-height - $h)/2 0 0 8px;
		}

		input[type="range"] {
			position: absolute;
			top: 0px;
			-webkit-appearance: none;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			width: 100%;
			height: 5px;
			margin: 0;
			border: none;
			border-radius: 0px;
			background: white;
			box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
			-webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
			outline: none; /* no focus outline */
			
			&::-moz-range-track {
				border: inherit;
				background: transparent;
			}
			
			&::-ms-track {
				border: inherit;
				color: transparent; /* don't drawn vertical reference line */
				background: transparent;
			}
			
			&::-ms-fill-lower,
			&::-ms-fill-upper {
				background: transparent;
			}
			
			&::-ms-tooltip  {
				display: none;
			}
			
		}

		/* thumb */

		input[type="range"]::-webkit-slider-thumb {
		  -webkit-appearance: none;
		  width: 10px;
		  height: 10px;
		  border: none;
		  border-radius: 12px;
		  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a6f4), color-stop(100%, #00a6f4)); /* android <= 2.2 */
		  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
		  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
		}
		input[type="range"]::-moz-range-thumb {
		  width: 10px;
		  height: 10px;
		  border: none;
		  border-radius: 12px;
		  background-image: linear-gradient(to bottom, #00a6f4 0, #00a6f4 100%); /* W3C */
		}

		input[type="range"]::-ms-thumb {
		  width: 10px;
		  height: 10px;
		  border-radius: 12px;
		  border: 0;
		  background-image: linear-gradient(to bottom, #00a6f4 0, #00a6f4 100%); /* W3C */
		}


	}
	
}


:-webkit-full-screen {
    position: fixed;
    width: 100% !important;
	height: 100% !important;
    top: 0;
    background: none;
}
