.bivrost-icon-sprite, .bivrost-icon-back, .bivrost-icon-check, .bivrost-icon-close, .bivrost-icon-display, .bivrost-icon-menu, .bivrost-icon-next, .bivrost-icon-oculus, .bivrost-icon-open, .bivrost-icon-pause, .bivrost-icon-play, .bivrost-icon-plus, .bivrost-icon-repeat, .bivrost-icon-settings, .bivrost-icon-speaker, .bivrost-icon-stop {
  background-image: url('bivrost-icon-se0353b9cd4.png');
  background-repeat: no-repeat; }

.bivrost-icon-back {
  background-position: 0 0; }
  .bivrost-icon-back:hover, .bivrost-icon-back.back-hover {
    background-position: 0 -56px; }

.bivrost-icon-check {
  background-position: 0 -112px; }
  .bivrost-icon-check:hover, .bivrost-icon-check.check-hover {
    background-position: 0 -168px; }

.bivrost-icon-close {
  background-position: 0 -224px; }
  .bivrost-icon-close:hover, .bivrost-icon-close.close-hover {
    background-position: 0 -280px; }

.bivrost-icon-display {
  background-position: 0 -336px; }
  .bivrost-icon-display:hover, .bivrost-icon-display.display-hover {
    background-position: 0 -392px; }

.bivrost-icon-menu {
  background-position: 0 -448px; }
  .bivrost-icon-menu:hover, .bivrost-icon-menu.menu-hover {
    background-position: 0 -504px; }

.bivrost-icon-next {
  background-position: 0 -560px; }
  .bivrost-icon-next:hover, .bivrost-icon-next.next-hover {
    background-position: 0 -616px; }

.bivrost-icon-oculus {
  background-position: 0 -672px; }
  .bivrost-icon-oculus:hover, .bivrost-icon-oculus.oculus-hover {
    background-position: 0 -728px; }

.bivrost-icon-open {
  background-position: 0 -784px; }
  .bivrost-icon-open:hover, .bivrost-icon-open.open-hover {
    background-position: 0 -840px; }

.bivrost-icon-pause {
  background-position: 0 -896px; }
  .bivrost-icon-pause:hover, .bivrost-icon-pause.pause-hover {
    background-position: 0 -952px; }

.bivrost-icon-play {
  background-position: 0 -1008px; }
  .bivrost-icon-play:hover, .bivrost-icon-play.play-hover {
    background-position: 0 -1064px; }

.bivrost-icon-plus {
  background-position: 0 -1120px; }
  .bivrost-icon-plus:hover, .bivrost-icon-plus.plus-hover {
    background-position: 0 -1176px; }

.bivrost-icon-repeat {
  background-position: 0 -1232px; }
  .bivrost-icon-repeat:hover, .bivrost-icon-repeat.repeat-hover {
    background-position: 0 -1288px; }

.bivrost-icon-settings {
  background-position: 0 -1344px; }
  .bivrost-icon-settings:hover, .bivrost-icon-settings.settings-hover {
    background-position: 0 -1400px; }

.bivrost-icon-speaker {
  background-position: 0 -1456px; }
  .bivrost-icon-speaker:hover, .bivrost-icon-speaker.speaker-hover {
    background-position: 0 -1512px; }

.bivrost-icon-stop {
  background-position: 0 -1568px; }
  .bivrost-icon-stop:hover, .bivrost-icon-stop.stop-hover {
    background-position: 0 -1624px; }

.bivrost-player,
bivrost-player {
  display: block;
  overflow: hidden;
  position: relative;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px; }
  .bivrost-player canvas,
  bivrost-player canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .bivrost-player.no-ui .ui,
  bivrost-player.no-ui .ui {
    display: none !important; }
  .bivrost-player .ui,
  bivrost-player .ui {
    position: absolute;
    left: 0;
    right: 0;
    height: 68px;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: block;
    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
    /* thumb */ }
    .bivrost-player .ui input[type="range"]::-webkit-slider-thumb,
    bivrost-player .ui input[type="range"]::-webkit-slider-thumb {
      -webkit-transition: opacity 1s, background-size 1s;
      transition: opacity 1s, background-size 1s; }
    .bivrost-player .ui input[type="range"]::-moz-range-thumb,
    bivrost-player .ui input[type="range"]::-moz-range-thumb {
      transition: opacity 1s, background-size 1s; }
    .bivrost-player .ui input[type="range"]::-ms-thumb,
    bivrost-player .ui input[type="range"]::-ms-thumb {
      transition: opacity 1s, background-size 1s; }
    .bivrost-player .ui.hidden,
    bivrost-player .ui.hidden {
      bottom: -68px; }
      .bivrost-player .ui.hidden input[type="range"]::-webkit-slider-thumb,
      bivrost-player .ui.hidden input[type="range"]::-webkit-slider-thumb {
        opacity: 0;
        background-size: 0 0; }
      .bivrost-player .ui.hidden input[type="range"]::-moz-range-thumb,
      bivrost-player .ui.hidden input[type="range"]::-moz-range-thumb {
        opacity: 0;
        background-size: 0 0; }
      .bivrost-player .ui.hidden input[type="range"]::-ms-thumb,
      bivrost-player .ui.hidden input[type="range"]::-ms-thumb {
        opacity: 0;
        background-size: 0 0; }
    .bivrost-player .ui .aligned,
    bivrost-player .ui .aligned {
      position: absolute;
      display: block;
      top: 0px;
      bottom: 0px; }
    .bivrost-player .ui .left-aligned,
    bivrost-player .ui .left-aligned {
      left: 0px; }
    .bivrost-player .ui .right-aligned,
    bivrost-player .ui .right-aligned {
      right: 8px; }
    .bivrost-player .ui .bivrost-button,
    .bivrost-player .ui .status,
    bivrost-player .ui .bivrost-button,
    bivrost-player .ui .status {
      position: relative;
      height: 36px;
      display: inline-block;
      margin: 16px 0 0 8px;
      line-height: 36px;
      vertical-align: middle; }
    .bivrost-player .ui .bivrost-button,
    bivrost-player .ui .bivrost-button {
      cursor: pointer;
      width: 36px; }
    .bivrost-player .ui .range-background,
    bivrost-player .ui .range-background {
      position: absolute;
      height: 14px;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAYAAAASVl2WAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAB3RJTUUH3wceDwE0Hql6LwAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAKUlEQVQY02NgoDlgnDBhQj9eBf////+PTwETISsGgwKWiRMnTmAYWAAAd6EIj+7zmvMAAAAASUVORK5CYII=') repeat-x;
      top: -7px;
      left: 0px;
      right: 0px; }
      .bivrost-player .ui .range-background .range-foreground,
      bivrost-player .ui .range-background .range-foreground {
        top: 0px;
        left: 0px;
        bottom: 0px;
        height: 100%;
        width: 0%;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAB3RJTUUH3wceDwEsDcXieQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAKElEQVQoz2NgoCtgZGjc209Y0fKv/wkpYiLGusGoiIXh1okJDIMLAADj1QarSBFxUgAAAABJRU5ErkJggg==') repeat-x; }
    .bivrost-player .ui input[type="range"],
    bivrost-player .ui input[type="range"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      width: 100%;
      height: 14px;
      margin: 0;
      border: none;
      border-radius: 0px;
      background: transparent;
      /*box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;*/
      /*-webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;*/
      outline: none;
      /* no focus outline */ }
      .bivrost-player .ui input[type="range"]::-moz-range-track,
      bivrost-player .ui input[type="range"]::-moz-range-track {
        border: inherit;
        background: transparent; }
      .bivrost-player .ui input[type="range"]::-ms-track,
      bivrost-player .ui input[type="range"]::-ms-track {
        border: inherit;
        color: transparent;
        /* don't drawn vertical reference line */
        background: transparent; }
      .bivrost-player .ui input[type="range"]::-ms-fill-lower, .bivrost-player .ui input[type="range"]::-ms-fill-upper,
      bivrost-player .ui input[type="range"]::-ms-fill-lower,
      bivrost-player .ui input[type="range"]::-ms-fill-upper {
        background: transparent; }
      .bivrost-player .ui input[type="range"]::-ms-tooltip,
      bivrost-player .ui input[type="range"]::-ms-tooltip {
        display: none; }
    .bivrost-player .ui input[type="range"]::-webkit-slider-thumb,
    bivrost-player .ui input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
      border: none;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAB3RJTUUH3wceDwEIMcYGqAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAArElEQVQoz52SoQ3DMBBFn6/QrMArNDMYRwHdwDSDhZZkAiu4MzQrFEQlhZEKfFYMojbuk0ysezr73xlKbu8T0AE90OrtBAxAJNg1l5pCugB34Mw+C+AJdt7EJD04RkOws9HnPb902uvsRP90VEJrO9EgaumlSK+GVvgT0TnVMokOt5ZBgKgRUzGOKLpGvkL0BLumcNIaNT86L3lrcjgUsgOuwAi89Ix657IE8AFFNCkGD0eCgQAAAABJRU5ErkJggg==') no-repeat center center; }
    .bivrost-player .ui input[type="range"]::-moz-range-thumb,
    bivrost-player .ui input[type="range"]::-moz-range-thumb {
      width: 14px;
      height: 14px;
      border: none;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAB3RJTUUH3wceDwEIMcYGqAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAArElEQVQoz52SoQ3DMBBFn6/QrMArNDMYRwHdwDSDhZZkAiu4MzQrFEQlhZEKfFYMojbuk0ysezr73xlKbu8T0AE90OrtBAxAJNg1l5pCugB34Mw+C+AJdt7EJD04RkOws9HnPb902uvsRP90VEJrO9EgaumlSK+GVvgT0TnVMokOt5ZBgKgRUzGOKLpGvkL0BLumcNIaNT86L3lrcjgUsgOuwAi89Ix657IE8AFFNCkGD0eCgQAAAABJRU5ErkJggg==') no-repeat center center; }
    .bivrost-player .ui input[type="range"]::-ms-thumb,
    bivrost-player .ui input[type="range"]::-ms-thumb {
      width: 14px;
      height: 14px;
      border: 0;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAB3RJTUUH3wceDwEIMcYGqAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAArElEQVQoz52SoQ3DMBBFn6/QrMArNDMYRwHdwDSDhZZkAiu4MzQrFEQlhZEKfFYMojbuk0ysezr73xlKbu8T0AE90OrtBAxAJNg1l5pCugB34Mw+C+AJdt7EJD04RkOws9HnPb902uvsRP90VEJrO9EgaumlSK+GVvgT0TnVMokOt5ZBgKgRUzGOKLpGvkL0BLumcNIaNT86L3lrcjgUsgOuwAi89Ix657IE8AFFNCkGD0eCgQAAAABJRU5ErkJggg==') no-repeat center center; }

:-webkit-full-screen {
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  background: none; }

/*# sourceMappingURL=bivrost.css.map */
