<!DOCTYPE html>
<html>
	<head>
		<title>Bivrost{{#title}} - {{ title }}{{/title}}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=800, initial-scale=1.0">
		{{#styles}}
		<link href="{{.}}" rel="stylesheet" />
		{{/styles}}
		{{^styles}}
		<link href="{{{bivrost_dir}}}bivrost.css" rel="stylesheet" />
		{{/styles}}
		{{#scripts_additional}}
		<script src="{{{.}}}"></script>
		{{/scripts_additional}}
		{{#scripts}}
		<script src="../{{{.}}}"></script>
		{{/scripts}}
		{{^scripts}}
		<script src="{{{bivrost_dir}}}bivrost.js"></script>
		{{/scripts}}
		<style type="text/css">
			.back { text-decoration:none; text-align:center; padding: 0 1ex; border: 1px solid; margin-right: 1ex; }
		</style>
	</head>
	<body style="width: 750px; margin: 1em auto">
