{{ >_head }}

		<header>
			<h1>Demo index for the BIVROST 360WebPlayer</h1>
		</header>

		<article>
			<p>
				This is an appendix for our <a href="http://github.com/Bivrost/360WebPlayer">GitHub page</a>, 
				please look there for the documentation (or view the <a href="github-readme.html">local copy</a>). 
			</p>

			<p>
				<a href="../wordpress.html">WordPress plugin documentation</a>
				and its
				<a href="../codecanyon.html">Codecanyon flavour</a>.
			</p>


			<ul>
			{{ #examples }}
			<li>
				<a href="{{ slug }}.html">{{ title }}</a>
				{{ #minification_visible }}
				(<a href="{{ slug }}-unminified.html">unminified</a>)
				{{ /minification_visible }}
			</li>
			{{ /examples }}
			</ul>
		</article>
		
{{ >_foot }}
